---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver%2Bco&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 04 Nov 2019 17:52:19 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392,-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 293ms
      X-Forecast-Api-Calls:
      - '140'
      X-Response-Time:
      - 163.463ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392,"longitude":-104.9903,"timezone":"America/Denver","currently":{"time":1572889939,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":2,"nearestStormBearing":27,"precipIntensity":0,"precipProbability":0,"temperature":48.15,"apparentTemperature":47.14,"dewPoint":26.68,"humidity":0.43,"pressure":1015.9,"windSpeed":3.59,"windGust":6.61,"windBearing":354,"cloudCover":0.58,"uvIndex":3,"visibility":10,"ozone":279.1},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1572889920,"precipIntensity":0,"precipProbability":0},{"time":1572889980,"precipIntensity":0,"precipProbability":0},{"time":1572890040,"precipIntensity":0,"precipProbability":0},{"time":1572890100,"precipIntensity":0,"precipProbability":0},{"time":1572890160,"precipIntensity":0,"precipProbability":0},{"time":1572890220,"precipIntensity":0,"precipProbability":0},{"time":1572890280,"precipIntensity":0,"precipProbability":0},{"time":1572890340,"precipIntensity":0,"precipProbability":0},{"time":1572890400,"precipIntensity":0,"precipProbability":0},{"time":1572890460,"precipIntensity":0,"precipProbability":0},{"time":1572890520,"precipIntensity":0,"precipProbability":0},{"time":1572890580,"precipIntensity":0.005,"precipIntensityError":0.005,"precipProbability":0.01,"precipType":"rain"},{"time":1572890640,"precipIntensity":0.007,"precipIntensityError":0.009,"precipProbability":0.01,"precipType":"rain"},{"time":1572890700,"precipIntensity":0.007,"precipIntensityError":0.007,"precipProbability":0.01,"precipType":"rain"},{"time":1572890760,"precipIntensity":0.007,"precipIntensityError":0.007,"precipProbability":0.02,"precipType":"rain"},{"time":1572890820,"precipIntensity":0.007,"precipIntensityError":0.008,"precipProbability":0.02,"precipType":"rain"},{"time":1572890880,"[...]
[...]
