---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver%2Bco&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 04 Nov 2019 17:29:36 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392,-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 255ms
      X-Forecast-Api-Calls:
      - '128'
      X-Response-Time:
      - 115.316ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392,"longitude":-104.9903,"timezone":"America/Denver","currently":{"time":1572888576,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":10,"nearestStormBearing":359,"precipIntensity":0,"precipProbability":0,"temperature":47.35,"apparentTemperature":46.68,"dewPoint":29.57,"humidity":0.5,"pressure":1016,"windSpeed":3.24,"windGust":5.56,"windBearing":29,"cloudCover":0.5,"uvIndex":3,"visibility":10,"ozone":278.5},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1572888540,"precipIntensity":0,"precipProbability":0},{"time":1572888600,"precipIntensity":0,"precipProbability":0},{"time":1572888660,"precipIntensity":0,"precipProbability":0},{"time":1572888720,"precipIntensity":0,"precipProbability":0},{"time":1572888780,"precipIntensity":0,"precipProbability":0},{"time":1572888840,"precipIntensity":0,"precipProbability":0},{"time":1572888900,"precipIntensity":0,"precipProbability":0},{"time":1572888960,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
