---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392,-104.9903
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 856ms
      X-Forecast-Api-Calls:
      - '13'
      X-Response-Time:
      - 103.334ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392,"longitude":-104.9903,"timezone":"America/Denver","currently":{"time":1573004425,"summary":"Clear","icon":"clear-night","nearestStormDistance":226,"nearestStormBearing":29,"precipIntensity":0,"precipProbability":0,"temperature":51.12,"apparentTemperature":50.19,"dewPoint":28.55,"humidity":0.42,"pressure":1021,"windSpeed":4.31,"windGust":6.13,"windBearing":150,"cloudCover":0.12,"uvIndex":0,"visibility":9.285,"ozone":260},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1573004400,"precipIntensity":0,"precipProbability":0},{"time":1573004460,"precipIntensity":0,"precipProbability":0},{"time":1573004520,"precipIntensity":0,"precipProbability":0},{"time":1573004580,"precipIntensity":0,"precipProbability":0},{"time":1573004640,"precipIntensity":0,"precipProbability":0},{"time":1573004700,"precipIntensity":0,"precipProbability":0},{"time":1573004760,"precipIntensity":0,"precipProbability":0},{"time":1573004820,"precipIntensity":0,"precipProbability":0},{"t[...]
