---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&content_type=1&format=json&geo_context=2&lat=39.7392&lng=-104.9903&method=flickr.photos.search&radius=10&radius_units=mi&tag_mode=all&tags=denver,co,city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":3,"perpage":250,"total":"563","photo":[{"id":"48988091846","owner":"7156765@N05","secret":"6106f729a3","server":"65535","farm":66,"title":"Civic
        Center View ~ Denver Colorado","ispublic":1,"isfriend":0,"isfamily":0},{"id":"48815440453","owner":"34068123@N07","secret":"36e53047c3","server":"65535","farm":66,"title":"You''re
        not hiding","ispublic":1,"isfriend":0,"isfamily":0},{"id":"31971413027","owner":"22216536@N07","secret":"8106899661","server":"4905","farm":5,"title":"Focusing
        Toward Tomorrow","ispublic":1,"isfriend":0,"isfamily":0},{"id":"39910698973","owner":"32411159@N05","secret":"532368e033","server":"4912","farm":5,"title":"Coors
        Field with Downtown Denver in background",[...]
