---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=nowhere&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "322",
                       "short_name" : "322",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East 14th Street",
                       "short_name" : "E 14th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Manhattan",
                       "short_name" : "Manhattan",
                       "types" : [ "political", "sublocality", "sublocality_level_1" ]
                    },
                    {
   [...]
[...]
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=40.7317696&long=-73.9841161
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<ANTIPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fbf9bb1b00356abf0e9690fa077826f2"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-40.7317696,"long":106.0158839}}}'
  recorded_at: Wed, 06 Nov 2019 14:23:37 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=-40.7318,106.0159
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "global_code" : "4PF87298+79"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Indian Ocean",
                       "short_name" : "Indian Ocean",
                       "types" : [ "establishment", "natural_feature" ]
                    }
                 ],
                 "formatted_address" : "Indian Ocean",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 10.4186036,
                          "lng" : 146.9166668
                       },
                       "southwest" : {
                          "lat" : -71.4421996,
                          "lng" : 13.0882271
                       }
                    },
                    "location" : {
                       "lat" : -33.137551,
                       "lng" : 81.826172
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.4186036,
                          "lng" : 146.9166668
                       },
                       "southwest" : {
                          "lat" : -71.4421996,
                          "lng" : 13.0882271
                       }
                    }
                 },
                 "place_id" : "ChIJH2p_crJNFxgRN5apY1C_1Oo",
                 "types" : [ "establishment", "natural_feature" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 06 Nov 2019 14:23:38 GMT
recorded_with: VCR 5.0.0
