---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=hongkong&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 06 Nov 2019 01:39:59 GMT
[...]
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<ANTIPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Wed, 06 Nov 2019 01:40:12 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=-22.3193,-65.8306
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7Q Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7Q"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
[...]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/-22.3193,-65.8306
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 459ms
      X-Forecast-Api-Calls:
      - '13'
      X-Response-Time:
      - 43.538ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-22.3193,"longitude":-65.8306,"timezone":"America/La_Paz","currently":{"time":1573004416,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0389,"precipProbability":0.13,"precipType":"rain","temperature":46.66,"apparentTemperature":42.53,"dewPoint":46.66,"humidity":1,"pressure":1013.8,"windSpeed":8.4,"windGust":16.74,"windBearing":106,"cloudCover":0.63,"uvIndex":0,"visibility":10,"ozone":256},"hourly":{"summary":"Overcast
        throughout the day.","icon":"cloudy","data":[{"time":1573002000,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0421,"precipProbability":0.13,"precipType":"rain","temperature":46.77,"apparentTemperature":42.32,"dewPoint":46.77,"humidity":1,"pressure":1013.1,"windSpeed":9.22,"windGust":19.1,"windBearing":119,"cloudCover":0.62,"uvIndex":0,"visibility":9.661,"ozone":256.1},{"time":1573005600,"summary":"Mostly
        Cloudy","icon":"pa[...]
[...]
